<div class="project">
  <header class="header">
    <div class="container">
      <div class="header-inner">
        <h2 class="no-title"><a routerLink="/">ROYAL VILLAS</a></h2>
          <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/rooms" routerLinkActive="active">Rooms</a></li>
            <li><a routerLink="/hotels" routerLinkActive="active">Hotels</a></li>
            <!-- Temporarily Removed book rooms section -->
            <!-- <li class="booked-rooms"><a routerLink="/booked" routerLinkActive="active">Booked Rooms</a></li> -->
          </ul>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="main-inner">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="footer">
    
  </footer>
  <div class="chat">
    
  </div>
  <a class="hotel-button n8n-form-redirect-button" href="https://fortelegram.app.n8n.cloud/form/23885a71-84c9-493a-b432-a7e7e52212c2" target="_blank" title="Fill out this form to help us improve your experience">
    <i class="bi bi-file-earmark-text large"></i>
  </a>
  
</div>
